//tamaños
$size-titulo: 40px;
$size-parrafo: 22px;
$size-navbar: 20px;
$size-dibujos: 300px;
$size-icon: 150px;
$borde: 10px;
$grid-columns: 50% ;
$grid-rows: 25%;

//colores
$color-fondo: #eff0f3;
$color-titulo: #161616;
$color-nav: #ff8e3c;
$color-boton:#ff8e3c;
$color-contacto: #2a2a2a;
$color-dibujo: #ff8e3c;
$color-parrafos: #2a2a2a;
$color-auxiliar:#e73671 ;
