body {
  background-color: $color-fondo;
  color: $color-parrafos;
  font-size: $size-parrafo;
  font-family: 'Quicksand', sans-serif;
}



/*header*/

#contenedor {
  margin: 0%;
  background-color: $color-nav;
  padding-left: 20px;
  text-align: center;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%/2;
  grid-template-areas: "titulo" "container-fluid";
}
  
#titulo {
  font-size: 40px;
  padding-left: 60px;
  color: $color-titulo;
  font-family: 'Quicksand', sans-serif;
}
 


/*menú*/

nav {
  margin: 0%;
  border: 5px, $color-nav;


  ul {
  list-style: none;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content:space-around;
  background-color: $color-nav;
  padding: 10px;

    .nav-link {
      font-size: $size-navbar;
      color: $color-parrafos;
    }

  }
}

/*inicio*/

.inicio-container{
  display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: space-around;
  padding-bottom: 10%;

  .titulo__{
    font-size: 100px;
    text-align: center;
  }

  #texto-secundario{
    text-align: center;
    font-size: 30px;
    color: $color-auxiliar;
  }
  

  .imagen{
    justify-self: center;
    align-items: center;

   #dibujo-inicio{
    width: 600px;
  } 
  }
  
}



/*sobre mi*/

.info__contenedor{
  margin: 150px;
  padding-bottom: 10%;
  padding-top: 20px;
  text-align: justify;
  padding-left: 20px;

}
  
  
/*contacto*/
#contacto {
  background: linear-gradient(to right, $color-contacto, #151515);
  text-align: center;
  border-radius: $borde;
  padding: 20px;
  padding-bottom: 10%;



  .lista__contacto {
    color: $color-fondo;
    list-style: none;
  }

  .texto__contacto, #ig {
  color: $color-fondo;
  }

  .texto {
  border-radius: $borde;
  border-color: $color-auxiliar;
  font-size: 16px;
  padding: 9px 90px;
  }

  #icon {
    width: 150px;
  }

}


/*botón*/
button {
  font-size: 20px;
  background-color: $color-boton;
  border-radius: $borde;
  border: none;
  display: block;
  position: relative;
  width: 200px;
  cursor: pointer;
  color: $color-parrafos;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  font-size: $size-parrafo;
  padding: 10px 20px;
  text-decoration: none;
  margin: 0 auto;
  animation: boton 4s infinite;
}


/*tienda*/

#texto_tienda{
  margin-top: 10%;
  padding: 50px;
  text-align: center;
  padding-bottom: 50%;

  #icon-2 {
  width: 150px;
}
}

/*galería*/

.container-text-center{
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 2fr 2fr ;
  gap: 20px;
  align-items: center;
  justify-items:stretch;
  grid-template-areas: 

  "col-1 col-2"
  "col-3 col-4"
  "col-5 col-6"
  "col-7 col-8"
  "col-9 col-9"

  ;
  
}

.row{
  width: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: space-evenly;

}  

.col{
  align-items: center;
  width: 200px;
  border-radius: $borde;
}

img{
  width: 200px;
  border-radius: $borde;
}
  



