@keyframes boton {
  0% {
    top: 0px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 0px;
  }
}

@-webkit-keyframes boton {
  0% {
    top: 0px;
  }
  50% {
    top: 8px;
  }
  100% {
    top: 0px;
  }
}


/*responsive en "sobre mí"*/
@media only screen and (min-width: 1024px) {

  #contenedor {
    margin: 0% 0% 0%;
    background-color: $color-nav;
    padding-left: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    grid-template-areas: 


    "titulo container-fluid";


  }

  .container-fluid{
    align-items:flex-end;
    margin: 0%;
  }


  #icon {
    width: 200px;
  }

  .container-text-center{
    padding-bottom: 10%;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:3fr 3fr 3fr ;
    align-items: center;
    justify-items:stretch;
    gap: 20px;
    grid-template-areas: 

    "row"
    "row"
    "row"
    ;
    
  }

  .row{
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    align-content:space-between;
    gap:50px
    

  }  

  .col{
    width: $size-dibujos;
    border-radius: $borde;
    gap: 10px; 
  }

  img{
    width: $size-dibujos;
    border-radius: $borde;
  }
    



    
}



